*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #ebebeb;
    height: 100vh;
    display: grid;
    place-items: center center;
    font-family: 'Poppins',sans-serif; 
}

.top {
    padding: 60px;
    width: 175vh;
    text-align: center;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
    margin: 25px 0 25px 0;    
}

.heading {
    width: 100vh;
    margin: auto;
    padding: 60px;
    text-align: center;
    background: #1c1b29;
    color: white;
    font-size: 35px;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
}

.profile-picture {
    width: 350px;
    height: 350px;
    border-radius: 100%;
    overflow: hidden;
    background-color: #1c1b29;
    display:inline-block;
    vertical-align:middle;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
    margin: 10px 0 15px 0;
    border: 25px solid #1c1b29;
  }

.projects {
    padding: 60px;
    width: 175vh;
    text-align: center;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
    margin: 25px 0 25px 0;    
}

.heading2 {
    width: 75vh;
    margin: auto;
    padding: 60px;
    text-align: center;
    background: #1c1b29;
    color: white;
    font-size: 35px;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(1px,44fr));
    padding: 20px;
    grid-gap: 10px;
}
.card{
    background-color: #1c1b29;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
}

.container{
    position: relative;
}
img{
    width: 100%;
    display: block;
    border-radius: 20px 20px 0 0;
}

.details{
    padding: 20px 10px;
}
.details>h3{
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    margin: 10px 0 15px 0;
}
.details>p{
    color: #ffffff;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
}