* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.background {
    background-color: #1c1b29;
    background-image: url("../image/lowpoly.png ");
    background-repeat: no-repeat;
    background-size: auto;
    display: grid;
    place-items: center center;
    font-family: 'Poppins', sans-serif;
}

.top {
    padding: 3vw;
    width: 80vw;
    text-align: center;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
    margin: 2vw 0 1vw 0;
}

.heading {
    width: 50vw;
    margin: auto;
    padding: 1vh;
    text-align: center;
    background: #1c1b29;
    color: white;
    font-size: 2vh;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
}

.profile-picture {
    width: 18vw;
    height: 18vw;
    border-radius: 100%;
    overflow: hidden;
    background-color: #1c1b29;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
    margin: 1vw 0 1vw 0;
    border: 1vw solid #1c1b29;
}

.links li {
    font-size: 5vh;
    display: inline-block;
}

.projects {
    padding: 1vw;
    width: 80vw;
    text-align: center;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
    margin: 25px 0 25px 0;
}

.container {
    position: relative;
}

img {
    width: 100%;
    display: block;
    border-radius: 20px 20px 0 0;
}